.weekly_weather > h2 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
}

.weekly_weather {
    margin-bottom: 50px;
}

@media(max-width: 501px) {
    .max_temp, .min_temp {
        font-size: 15px;
    }
}