.hourly_weather {
    margin-bottom: 50px;
}

.hourly_weather > h2 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
}

@media(max-width: 501px) {
    .hourly_weather > h2 {
        font-size: 20px;
    }

    .time, .degrees {
        font-size: 15px;
    }
}