p {
    font-weight: 300;
    font-size: 18px;
}

.title h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 5px;
}

.title {
    margin-bottom: 50px;
}

.region_country {
    font-size: 18px;
    margin-bottom: 5px;
}

@media(max-width:426px) {
    .region_country {
        font-size: 15px;
    }
}
