.carousel {
    cursor: pointer;
}

.hour_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.hour_item p {
    font-weight: 400;
}

.hour_item img {
    margin-bottom: 10px;
}