@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);*/
    background: linear-gradient(to bottom, rgb(43,50,178) 0%, rgb(20,136,204) 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Lato, sans-serif;
}

h1 {
    color: #fff;
}

h2 {
    color: #fff;
}

p {
    font-weight: 400;
    color: #fff;
}

input {
    outline: none;
}

.container {
    width: 80%;
    max-width: 1140px;
    margin: 0 auto;
}